<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>tez.lib.uris</name>
        <value>hdfs://{{ resourcemanager_ip }}:9000/apps/tez/tez.tar.gz</value>
    </property>
    
    <property>
        <name>tez.use.cluster.hadoop-libs</name>
        <value>true</value>
    </property>
    
    <property>
        <name>tez.am.resource.memory.mb</name>
        <value>1024</value>
    </property>
    
    <property>
        <name>tez.am.resource.cpu.vcores</name>
        <value>1</value>
    </property>
    
    <property>
        <name>tez.task.resource.memory.mb</name>
        <value>1024</value>
    </property>
    
    <property>
        <name>tez.task.resource.cpu.vcores</name>
        <value>1</value>
    </property>
    
    <property>
        <name>tez.runtime.io.sort.mb</name>
        <value>200</value>
    </property>
    
    <property>
        <name>tez.runtime.unordered.output.buffer.size-mb</name>
        <value>100</value>
    </property>
    
    <property>
        <name>tez.runtime.compress</name>
        <value>true</value>
    </property>
    
    <property>
        <name>tez.runtime.compress.codec</name>
        <value>org.apache.hadoop.io.compress.SnappyCodec</value>
    </property>
</configuration>
